.footer {
    background-color: #99AE7F;

    .footer-text {
        color: white;
        font-family: "ABeeZee", sans-serif;
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 1rem;
    }


    p {
        margin: 0;
    }
}