<div class="experience">
    <div class="experience-title">
        <img src="../../../../assets/img/experience-titre.png" alt="">
        <h2 class="experience-title__text">Mon experience</h2>
    </div>
    <div class="experience-wrapper">
        <div class="experience-details">
            <img class="floating" src=" ../../../../assets/img/sirap-img.png" alt="">
            <div class="experience-wrapper__text">
                <h3 class="experience-details__title">Alternance Développement back-end (Groupe Sirap)</h3>
                <ul class="experience-details__list">
                    <li>Re-développement complet d’une API en NestJS, avec TypeOrm et PostgreSql</li>
                    <li>Couverture de plus de 95% de l’application avec des tests unitaires sur JestJs</li>
                    <li>Application de bonnes pratiques grâce à EsLint</li>
                </ul>
            </div>

        </div>

        <div class="experience-details experience-details__stage">
            <div class="experience-wrapper__text">
                <h3 class="experience-details__title">Stage Développement full-stack
                    (Molecul)</h3>
                <ul class="experience-details__list">
                    <li>Implémentation d'un back-office sur Laravel</li>
                    <li>Création d'un site web sur October CMS (Tailwind, AlpineJS)</li>
                    <li>Réalisation d'un site vitrine sur Winter CMS (Tailwind, AlpineJS)</li>
                </ul>
            </div>
            <img class="floating" src=" ../../../../assets/img/stage-img.png" alt="">

        </div>
    </div>
</div>