/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

$media-desktop: "only screen and (max-width : 1024px)";
$media-tablet: "only screen and (max-width : 768px)";
$media-mobile: "only screen and (max-width : 600px)";
$media-mobile-sm: "only screen and (max-width : 480px)";


.floating { 
animation-name: floating;
animation-duration: 3s;
animation-iteration-count: infinite;
animation-timing-function: ease-in-out;
}

    @keyframes floating {
    0% { transform: translate(0,  0px); }
    50% { transform: translate(0, 15px); }
    100% { transform: translate(0, -0px); }   
}

html, body {
    margin: 0;
    padding:0;
}